@model BankWebAPI.Models.CustomerAccount.DetailsViewModel

@if (!Model.TransactionList.Any())
{
<h5 class="text-center text-muted">No transaction</h5> }
else
{
<h3 class="text-center">Last transactions</h3>
                <table class="table table-hover table-bordered auto-datatable">
                    <thead>
                        <tr>
                            <th data-priority="1">Action Type</th>
                            <th data-priority="2">From Account No.</th>
                            <th data-priority="2">To Account No.</th>

                            <th data-priority="1">Amount</th>
                            <th data-priority="4">Fee Percent</th>
                            <th data-priority="4">Fee Amount</th>
                            <th data-priority="4">Net Amount</th>

                            <th data-priority="3">Date</th>
                            <th data-priority="4">Action By</th>
                            <th data-priority="4">Description</th>

                            <th data-priority="5">Reference No</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var tran in Model.TransactionList)
                        {
                            if (tran.ActionType == "D")tran.ActionType = "Deposit";
                            else if (tran.ActionType == "W")tran.ActionType ="Withdraw";
                            else if (tran.ActionType == "T") tran.ActionType="Transfer";


                    <tr>

                        <td>
                            @tran.ActionType
                        </td>
                        <td>
                            @tran.SourceNo
                        </td>
                        <td>
                            @tran.DestinationNo
                        </td>
                        <td>
                            <span class="text-green">@tran.Amount</span>
                        </td>
                        <td>
                            @tran.FeePercent
                        </td>
                        <td>
                            @tran.FeeAmount
                        </td>
                        <td>
                            @tran.NetAmount
                        </td>
                        <td class="auto-format-date">@tran.ActionDate.ToString("O")</td>
                        <td>
                            @tran.ActionBy
                        </td>
                        <td class="word-break-all">@tran.Description</td>
                        <td>@tran.ReferenceNo</td>
                    </tr>
 }
                    </tbody>
                </table>

                                @*<partial name="_PaginationPartial" model="@Model.TransactionList" />*@
                                
                                }