@model List<Core.Models.Bank.CustomerAccountModel>
@{ ViewData["Title"] = "Account List"; }
<div class="container">
    <div class="row flex-lg-row-reverse">
        <div class="col-12 col-lg-12">
       
            <div class="card-body">
                <h5 class="card-title">Customer Account List</h5>

                <table class="table table-hover table-bordered auto-datatable">
                    <thead>
                        <tr>
                            <th data-priority="1">Account Name</th>
                            <th data-priority="1">Account No.</th>
                            <th data-priority="1">Balance</th>
                            <th data-priority="2">Created Date</th>
                            <th data-priority="3">Created By</th>
                         

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var account in Model)
                        {
                            


                        <tr>

                            <td>
                                <a asp-controller="CustomerAccount" asp-action="Details" asp-route-id="@account.Id">@account.FullName</a>
                            </td>
                            <td>
                                @account.AccountNo
                            </td>
                            <td>
                                <span class="text-green">@account.Balance.ToString("#,##0.00")</span>
                            </td>
                            <td >
                                @account.CreatedDate.ToString("dd/MM/yyyy HH:mm")
                            </td>
                            <td>
                                @account.CreatedBy
                            </td>


                        </tr>}
                    </tbody>
                </table>

            </div>


            </div>
        
    </div>
</div>